<div class="main-page">
  <h1 style="text-align: center">Cocktail menu!</h1>

  <div fxLayout="row" style="padding: 20px">
    <div *ngFor="let cocktail of cocktails | async">
      <mat-card class="example-card" style="width: 14rem; margin: 5px">
        <mat-card-header>
          <div *appHasRoles="['admin']">
            <mat-card-subtitle *ngIf="!cocktail.is_published">Unpublished</mat-card-subtitle>
          </div>
          <mat-card-title>{{ cocktail.title }}</mat-card-title>
        </mat-card-header>
        <img mat-card-xl-image [src]="cocktail.image | image" [alt]="'Photo of ' + cocktail.title">
        <div *appHasRoles="['admin']">
          <button mat-raised-button (click)="delete(cocktail.id)">Delete</button>
          <div *ngIf="!cocktail.is_published">
            <button mat-raised-button (click)="publish(cocktail.id)">Publish</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
