<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar
      color="primary"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div>
        <a routerLink="/" style="color: white;">Cocktail Recipes</a>
      </div>
      <nav fxLayout="row" fxLayoutAlign="space-between">
        <div >
          <a mat-button routerLink="/new/artist">Add new recipe of cocktail</a>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item disabled></button>
          <button mat-menu-item (click)="logout()">Logout</button>
          <button mat-menu-item routerLink="/trackHistory">My cocktails</button>
        </mat-menu>
      </nav>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #anonMenu>
  <a mat-button routerLink="/login">SIGN IN</a>
</ng-template>
